//隐藏社交图标前的圆点
.links-of-author a,
.links-of-author .exturl {
  &:before {
    display: none;
  }
}
//TOC目录默认只显示两级目录
.nav-level-2 > .nav-child {
  display: none !important;
}
.sidebar-toggle {
  left: 30px;
}

.sidebar {
  left: 0px;
}
#live2dcanvas {
  +mobile() {
    display: none;
  }
  +tablet() {
    display: none;
  }
}
//窗口波动效果相关样式
if hexo-config('wobble')  {
  .sidebar {
    box-shadow: none;
  }

  .wobbleTransparentBK{
    background-color: rgba(0,0,0,0) !important;
  }

  .wobbleTransparentLine{
    border-color: rgba(0,0,0,0) !important;
  }

  //Next.Muse中为Header和Footer添加背景色
  #header, #footer {
    background-color: rgb(245, 245, 245);
  }

  //防止sidebar和footer同时开启动效时堆叠异常
  #sidebar, header {
    z-index: 1 !important;
  }

  //防止挡住页末文章的阅读全文按钮
  .main {
    padding-bottom: 200px;
  }
}


//自定义回到顶部样式
.back-to-top {
  right: 60px;
  width: 70px;  //图片素材宽度
  height: 900px;  //图片素材高度
  top: -900px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("/images/scroll.png");

  //隐藏箭头图标
  > i {
    display: none;
  }

  &.back-to-top-on {
    bottom: unset;
    top: 100vh < (900px + 200px) ? calc( 100vh - 900px - 200px ) : 0px;
  }
}
//版权
.post-copyright {
    margin: 1em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #ff1700;
    background-color: #f9f9f9;
    list-style: none;
}
//屏蔽标题下的评论数量
.post-comments-count {
  display: none;
}
//屏蔽评论组件的多余信息
#comments .vsys {
  display: none;
}
//密码错误sweetalert弹框样式修改
.swal-overlay {
  background-color: transparent;
}

.password-error {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  border-radius: 4px;
}
//背景
body {
    background:url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}

//不透明
.main-inner {
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.85;
     min-height: 500px;
}
//关闭打赏收款码的文字抖动效果
#QR > div:hover p {
  animation: none;
}